@page "/counter"
@layout Components.Layout.LoginLayout
@attribute [StreamRendering(true)]
@rendermode InteractiveServer
@inject NavigationManager Nav
@inject ILocalStorageService Loc
@using System.Net.Http.Headers
@inject JSPrintManager JSPrintManager
@inject IJSRuntime JS
@inject ISnackbar SnackBar
@inject IDialogService Dialog
@using Microsoft.AspNetCore.SignalR.Client

<PageTitle>Counter</PageTitle>

<style>
    @@media (max-width: 767px) {
        .container .row {
            --bs-gutter-x: 1rem;
            --bs-gutter-y: 1rem;
        }

            .container .row > .col {
                flex: 0 0 auto;
                width: 100%;
            }
    }

    .card {
        border: none;
        border-radius: 15px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

        .card:hover {
            transform: scale(1.05);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }

    .card-img-top {
        height: 180px;
        object-fit: cover;
        border-radius: 10px 10px 0 0;
    }

    .card-body {
        padding: 1rem;
        background-color: #f9f9f9;
        border-radius: 0 0 10px 10px;
    }

    .card-title {
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    .card-subtitle {
        font-size: 12px;
        color: #777;
    }

    .price {
        font-size: 14px;
        font-weight: bold;
        color: #e74c3c;
    }

    .chip {
        font-size: 10px;
        padding: 2px 6px;
        border-radius: 12px;
    }

    .table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 1rem;
    }

        .table th, .table td {
            padding: 12px 15px;
            text-align: left;
            border-bottom: 1px solid #ddd;
        }

        .table th {
            background-color: #f1f1f1;
            color: #333;
        }

        .table td {
            background-color: #fff;
            color: #555;
        }

    .table-responsive {
        max-width: 100%;
        overflow-x: auto;
    }

    .mt-5 {
        margin-top: 2rem;
    }

    .mt-3 {
        margin-top: 1rem;
    }

    .text-center {
        text-align: center;
    }

    .loader-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999;
    }

    @@keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

    @@media (max-width: 600px) {
        .card-body {
            padding: 0.75rem;
        }

        .card-title {
            font-size: 14px;
        }

        .price {
            font-size: 12px;
        }
    }

    img {
        width: 35px;
        border-radius: 50px;
        float: left;
    }

    .logout {
        font-size: .8em;
        font-family: 'Oswald', sans-serif;
        position: relative;
        right: -18px;
        bottom: -10px;
        overflow: hidden;
        letter-spacing: 3px;
        opacity: 0;
        transition: opacity .45s;
        -webkit-transition: opacity .35s;
        color: white;
    }

    .button {
        text-decoration: none;
        float: right;
        padding: 12px;
        margin: 15px;
        color: white;
        width: 50px;
        transition: width .35s;
        -webkit-transition: width .35s;
        overflow: hidden;
    }

    a:hover {
        width: 130px;
    }

        a:hover .logout {
            opacity: .9;
        }

    a {
        text-decoration: none;
    }


    @@media (max-width: 600px) {
        img {
            width: 25px;
        }

        .button {
            padding: 8px;
            margin: 10px;
            width: 40px;
        }

        a:hover {
            width: 100px;
        }

        .logout {
            font-size: .7em;
            right: -12px;
            bottom: -8px;
        }
    }
</style>

<MudToolBar Style="border-bottom:solid gray 0.1px;">
    <MudIconButton Icon="@Icons.Material.Outlined.Menu" Color="Color.Inherit" Class="mr-5" />
    <MudText Align="Align.Left"><b>DURIAN GARDEN (POS)</b></MudText>&nbsp;&nbsp;
    <MudTextField T="string" Clearable @bind-Value="txtsearch" TextChanged="Search" Adornment="Adornment.End" AdornmentIcon="@Icons.Material.Filled.Search" AdornmentColor="Color.Tertiary" Placeholder="What are you looking for?" Variant="Variant.Outlined" Margin="Margin.Dense" />
    <MudSpacer /> <MudSpacer /> <MudSpacer />
    <div class="navigation">
        <a class="button" href="" @onclick="Logout">
            <img src="cashier.png" />
            <div class="logout" style="color:black">LOGOUT</div>
        </a>
    </div>
</MudToolBar>

@if (p == null || p.Length == 0)
{
    <div class="d-flex justify-content-center my-4" style="padding-top:300px;">
        <div class="loader"></div>
    </div>
}
else
{
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-6" style="max-height: 650px; overflow-y: scroll;">
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    @foreach (var product in p.Take(currentIndex))
                    {
                        <div class="col">
                            <div class="card h-100">
                                <img src="data:image/bmp;base64, @(Convert.ToBase64String(product.photo))" class="card-img-top" alt="@product.name" />
                                <div class="card-body">
                                    <h4 class="card-title">@product.name</h4>
                                    <h5 class="card-subtitle">@product.code</h5>
                                    <p class="price">₱@product.price</p>
                                    @if (product.status == "Available")
                                    {
                                        <span class="chip" style="background-color: #2ecc71; color: white;">@product.status</span>
                                    }
                                    else
                                    {
                                        <span class="chip" style="background-color: #e74c3c; color: white;">@product.status</span>
                                    }
                                    @if (product.status == "Available")
                                    {
                                        <MudNumericField T="int" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="product.qty" />
                                    }
                                    else
                                    {
                                        <MudNumericField T="int" Variant="Variant.Outlined" Margin="Margin.Dense" Disabled @bind-Value="product.qty" />
                                    }
                                    @if (product.status == "Available")
                                    {
                                        <MudFab StartIcon="@Icons.Material.Filled.AddShoppingCart" Label="Add to Cart" Size="Size.Small" Color="Color.Primary" @onclick="(e => AddToCart(product.code, product.qty))" style="font-size: 12px; margin-top: 10px;" />
                                    }
                                    else
                                    {
                                        <MudFab StartIcon="@Icons.Material.Filled.AddShoppingCart" Label="Add to Cart" Size="Size.Small" Disabled Color="Color.Primary" style="font-size: 12px; margin-top: 10px;" />
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                @if (currentIndex < p.Length)
                {
                    <div class="text-center mt-3">
                        <MudButton Disabled="@_loading" OnClick="@loadMore" Variant="Variant.Filled" Color="Color.Secondary">
                            @if (_loading)
                            {
                                <div class="loader"></div>
                            }
                            else
                            {
                                <MudText>Load More</MudText>
                            }
                        </MudButton>
                    </div>
                }
            </div>
            <div class="col-md-6 mt-5">
                <div class="container">
                    <MudCard Elevation="0" Style="padding: 15px; font-family: monospace;">
                        <MudToolBar>
                            <MudTextField @bind-Value="_temp.code" Style="font-family:monospace; font-size: 16px;" Placeholder="Input product code here" Margin="Margin.Dense" Variant="Variant.Outlined" @onkeypress="HandleKeyPress" AutoFocus @ref="inputElement" />
                        </MudToolBar>
                        @if (t != null && t.Any())
                        {
                            <MudTable Class="ma-5" Dense="true" Elevation="0" Hover="true" Items="@t" HorizontalScrollbar="true" FixedHeader="@fixed_header" FixedFooter="@fixed_footer" Height="@(fixed_header || fixed_footer ? "370px" : "")">
                                <ToolBarContent>
                                    <MudToolBar>
                                        <MudSpacer />
                                        <MudIconButton Icon="@Icons.Material.Outlined.Print" @onclick="Print" Variant="Variant.Outlined" Color="Color.Success" />
                                    </MudToolBar>
                                </ToolBarContent>
                                <HeaderContent>
                                    <MudTh>Product</MudTh>
                                    <MudTh>Price</MudTh>
                                    <MudTh>Qty</MudTh>
                                    <MudTh>SubTotal</MudTh>
                                    <MudTh></MudTh>
                                </HeaderContent>
                                <RowTemplate>
                                    <MudTd DataLabel="Product Name" Style="font-size: 14px;">@context.name</MudTd>
                                    <MudTd DataLabel="Price" Style="font-size: 14px;">₱@context.price</MudTd>
                                    <MudTd>
                                        <MudNumericField T="int" Variant="Variant.Outlined" Margin="Margin.Dense" Style="width: 60px; height: 22px; font-size: 14px;" Value="@context.quantity" ValueChanged="@((_value) => UpdateQuantity(context.tempID, _value))" Immediate="true" />
                                    </MudTd>
                                    <MudTd DataLabel="Subtotal" Style="font-size: 14px;">₱@context.total</MudTd>
                                    <MudTd>
                                        <MudIconButton Icon="@Icons.Material.Filled.Close" Variant="Variant.Filled" Color="Color.Error" Size="Size.Small" Style="width:20px; height:20px;" @onclick="(e => DeleteTemp(context.tempID))" />
                                    </MudTd>
                                </RowTemplate>
                            </MudTable>
                        }
                        else
                        {
                            <MudText Align="Align.Center" Style="font-family:monospace; font-size: 25px;">No Transactions Found</MudText>
                        }
                        <MudToolBar>
                            <MudSpacer />
                            <MudText Typo="Typo.h5" Align="Align.Right" Style="font-size: 20px; font-family: monospace;">Total: <u>₱@_total</u></MudText>
                        </MudToolBar>
                    </MudCard>
                </div>

                <div>
                    @if (JSPrintManager.Status == JSPMWSStatus.Open)
                    {
                        <span class="badge badge-success"><i class="fa fa-check" /> Open</span>
                    }
                    else if (JSPrintManager.Status == JSPMWSStatus.Closed)
                    {
                        <span class="badge badge-danger"><i class="fa fa-exclamation-circle" /> Closed!</span>
                        <div><strong>JSPrintManager (JSPM) App</strong> is not installed or not running! <a href="https://neodynamic.com/downloads/jspm" target="_blank">Download JSPM Client App...</a></div>
                    }
                </div>

                @if (JSPrintManager.Status == JSPMWSStatus.Open && JSPrintManager.Printers == null)
                {
                    <div class="text-center mt-3">
                        <div class="spinner-border text-info" role="status"><span class="sr-only">Please wait...</span></div>
                        <strong><em>Getting local printers...</em></strong>
                    </div>
                }
            </div>
        </div>
    </div>
}

@code {
    bool fixed_header = true;
    bool fixed_footer = false;
    private products[] p;
    private temp[]? t;
    private MudTextField<string>? inputElement;
    [Parameter]
    public products _prod { get; set; } = new products();
    public temp _temp { get; set; } = new temp();
    private int currentIndex = 12;
    private const int PageSize = 12;
    private bool _loading = false;
    private string txtsearch { get; set; } = string.Empty;
    public double _total { get; set; } = 0;
    private int _value { get; set; }
    protected HubConnection hubConnection;

    protected async override Task OnInitializedAsync()
    {
        hubConnection = new HubConnectionBuilder()
            .WithUrl(Nav.ToAbsoluteUri("/hub"))
            .Build();

        hubConnection.On("client", async () =>
        {
            await Total();
            await LoadTemp();
            StateHasChanged();
        });

        await hubConnection.StartAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await LoadTemp();
            await LoadProduct();
            await Total();
        }
    }

    private async Task Total()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendClient");
        }
        using (HttpClient client = new HttpClient())
        {
            client.BaseAddress = new Uri($"{Nav.BaseUri}");
            HttpResponseMessage response = await client.GetAsync($"api/Temp/Total");
            if (response.IsSuccessStatusCode)
            {
                string contentResponse = await response.Content.ReadAsStringAsync();
                _total = JsonConvert.DeserializeObject<double>(contentResponse);
                StateHasChanged();
            }
            else
            {
                SnackBar.Add($"Warning: {response.ReasonPhrase}", Severity.Warning);
            }
        }
    }

    private async Task HandleKeyPress(KeyboardEventArgs args)
    {
        string clipboardText = await JS.InvokeAsync<string>("navigator.clipboard.readText");
        string result = clipboardText.Trim();
        if (args.Key == "Enter")
        {
            await AddToCartBarCode();
        }
    }

    private async Task AddToCartBarCode()
    {
        try
        {
            var _t = new temp
                {
                    code = _temp.code,
                    date = DateTime.Now,
                    quantity = 1
                };

            using (HttpClient client2 = new HttpClient())
            {
                client2.BaseAddress = new Uri($"{Nav.BaseUri}");
                var jsonBody = JsonConvert.SerializeObject(_t);
                HttpContent requestBody = new StringContent(jsonBody);
                requestBody.Headers.ContentType = new MediaTypeHeaderValue("application/json");
                client2.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer",
                    await Loc.GetItemAsStringAsync("token"));
                HttpResponseMessage response = await client2.PostAsync("api/Temp/AddTemp", requestBody);

                if (response.IsSuccessStatusCode)
                {
                    string responseContent = await response.Content.ReadAsStringAsync();
                    int i = JsonConvert.DeserializeObject<int>(responseContent);

                    if (i > 0)
                    {
                        StateHasChanged();
                        await LoadTemp();
                        await Total();
                        await JS.InvokeVoidAsync("document.activeElement.blur");
                        await Clear();
                        await inputElement.FocusAsync();
                    }
                }
                else
                {
                    StateHasChanged();
                    SnackBar.Add($"Warning: {response.ReasonPhrase}", Severity.Warning);
                    await JS.InvokeVoidAsync("document.activeElement.blur");
                    await Clear();
                    await inputElement.FocusAsync();
                }
            }
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Error: {ex.Message}", Severity.Error);
        }
    }

    private async Task Clear()
    {
        _temp.code = null;
    }

    private async Task Logout()
    {
        Nav.NavigateTo("/");
    }

    private async Task AddToCart(string code, int qty)
    {
        try
        {
            var _t = new temp
                {
                    code = code,
                    quantity = qty,
                    date = DateTime.Now
                };

            using (HttpClient client2 = new HttpClient())
            {
                client2.BaseAddress = new Uri($"{Nav.BaseUri}");
                var jsonBody = JsonConvert.SerializeObject(_t);
                HttpContent requestBody = new StringContent(jsonBody);
                requestBody.Headers.ContentType = new MediaTypeHeaderValue("application/json");
                client2.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer",
                    await Loc.GetItemAsStringAsync("token"));
                HttpResponseMessage response = await client2.PostAsync("api/Temp/AddTemp", requestBody);

                if (response.IsSuccessStatusCode)
                {
                    string responseContent = await response.Content.ReadAsStringAsync();
                    int i = JsonConvert.DeserializeObject<int>(responseContent);

                    if (i > 0)
                    {
                        StateHasChanged();
                        await LoadTemp();
                        await Total();
                    }
                }
                else
                {
                    SnackBar.Add($"Warning: {response.ReasonPhrase}", Severity.Warning);
                }
            }
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Error: {ex.Message}", Severity.Error);
        }
    }

    private async Task UpdateQuantity(int tempID, int quantity)
    {
        try
        {
            var _t = new temp
                {
                    tempID = tempID,
                    quantity = quantity
                };

            using (HttpClient client2 = new HttpClient())
            {
                client2.BaseAddress = new Uri($"{Nav.BaseUri}");
                var jsonBody = JsonConvert.SerializeObject(_t);
                HttpContent requestBody = new StringContent(jsonBody);
                requestBody.Headers.ContentType = new MediaTypeHeaderValue("application/json");
                client2.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer",
                    await Loc.GetItemAsStringAsync("token"));
                HttpResponseMessage response = await client2.PutAsync("api/Temp/UpdateTemp", requestBody);

                if (response.IsSuccessStatusCode)
                {
                    string responseContent = await response.Content.ReadAsStringAsync();
                    int i = JsonConvert.DeserializeObject<int>(responseContent);

                    if (i > 0)
                    {
                        await LoadTemp();
                        await Total();
                        StateHasChanged();
                    }
                }
                else
                {
                    SnackBar.Add($"Warning: {response.ReasonPhrase}", Severity.Warning);
                }
            }
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Error: {ex.Message}", Severity.Error);
        }
    }

    private async Task DeleteTemp(int tempID)
    {
        try
        {
            var _t = new temp
                {
                    tempID = tempID,
                };

            using (HttpClient client2 = new HttpClient())
            {
                client2.BaseAddress = new Uri($"{Nav.BaseUri}");
                var jsonBody = JsonConvert.SerializeObject(_t);
                HttpContent requestBody = new StringContent(jsonBody);
                requestBody.Headers.ContentType = new MediaTypeHeaderValue("application/json");
                client2.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer",
                                                            await Loc.GetItemAsStringAsync("token"));
                var request = new HttpRequestMessage(HttpMethod.Delete, "api/Temp/DeleteTemp")
                    {
                        Content = requestBody
                    };

                HttpResponseMessage response = await client2.SendAsync(request);

                if (response.IsSuccessStatusCode)
                {
                    string responseContent = await response.Content.ReadAsStringAsync();
                    int deletedRows = JsonConvert.DeserializeObject<int>(responseContent);

                    if (deletedRows > 0)
                    {
                        StateHasChanged();
                    }
                    else
                    {
                        SnackBar.Add("No item found to delete", Severity.Warning);
                    }
                }
                else
                {
                    SnackBar.Add($"Warning: {response.ReasonPhrase}", Severity.Warning);
                }
            }
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Error: {ex.Message}", Severity.Error);
        }
    }

    private async Task LoadProduct()
    {
        try
        {
            using (var client = new HttpClient())
            {
                client.BaseAddress = new Uri($"{Nav.BaseUri}");
                var response = await client.GetAsync($"api/Product/Products");
                if (response.IsSuccessStatusCode)
                {
                    await Task.Delay(1000);
                    var contentResponse = await response.Content.ReadAsStringAsync();
                    p = JsonConvert.DeserializeObject<products[]>(contentResponse);
                    StateHasChanged();
                }
                else
                {
                    SnackBar.Add($"Warning: {response.ReasonPhrase}", Severity.Warning);
                }
            }
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Error: {ex.Message}", Severity.Error);
        }
    }

    private async Task<IEnumerable<products>> GetProduct(string value, CancellationToken token)
    {
        HttpClient httpClient = new HttpClient();
        httpClient.BaseAddress = new Uri($"{Nav.BaseUri}");
        httpClient.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer",
        await Loc.GetItemAsStringAsync("token"));
        var p = await httpClient.GetFromJsonAsync<List<products>>($"api/Product/SProduct?s={value}");
        return p;
    }

    private async void loadMore()
    {
        _loading = true;
        await Task.Delay(1000);
        currentIndex = Math.Min(currentIndex + PageSize, p.Length);
        StateHasChanged();
    }

    private async Task Search()
    {
        if (string.IsNullOrWhiteSpace(txtsearch))
        {
            LoadProduct();
            return;
        }
        using (HttpClient client = new HttpClient())
        {
            client.BaseAddress = new Uri($"{Nav.BaseUri}");
            client.DefaultRequestHeaders.Authorization = new AuthenticationHeaderValue("Bearer",
                    await Loc.GetItemAsStringAsync("token"));
            HttpResponseMessage response = await client.GetAsync($"api/Product/SearchProduct?s={txtsearch}");
            if (response.IsSuccessStatusCode)
            {
                string contentrespose = await response.Content.ReadAsStringAsync();
                p = JsonConvert.DeserializeObject<products[]>(contentrespose);
                StateHasChanged();
            }
            else
            {
                SnackBar.Add($"Warning: {response.ReasonPhrase}", Severity.Warning);
            }
        }
    }

    private async Task LoadTemp()
    {
        if (hubConnection is not null)
        {
            await hubConnection.SendAsync("SendClient");
        }
        try
        {
            using (var client = new HttpClient())
            {
                client.BaseAddress = new Uri($"{Nav.BaseUri}");
                var response = await client.GetAsync($"api/Temp/Temp");
                if (response.IsSuccessStatusCode)
                {
                    await Task.Delay(1000);
                    var contentResponse = await response.Content.ReadAsStringAsync();
                    t = JsonConvert.DeserializeObject<temp[]>(contentResponse);
                    StateHasChanged();
                }
                else
                {
                    SnackBar.Add($"Warning: {response.ReasonPhrase}", Severity.Warning);
                }
            }
        }
        catch (Exception ex)
        {
            SnackBar.Add($"Error: {ex.Message}", Severity.Error);
        }
    }

    private async Task Print()
    {
        var parameters = new DialogParameters();
        var dialog = await Dialog.Show<Print>("Total Bill", parameters).Result;
    }
}